        <div>

            {% for booking in page_obj %}

            <div>
                
                <section class="page-section portfolio" id="portfolio">
                    <div class="container">
                       
                        <!-- NAME - CIRCUIT+CATEGORY - CAR - THE USER -->
                        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                            <a href="{% url 'booking' booking.id %}"> {{booking.name}} </a>
                        </h2>
                        <h6 class="page-section-heading-circuit text-center text-uppercase text-secondary mb-0">-{{booking.circuit.name}} - {{booking.circuit.category}}-</h6>
                        <!-- THE CAR WORKS AS A DIVISION -->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-car-on"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <h5 class="page-section-heading-user text-center text-uppercase text-secondary mb-0"> 
                            <a href="{% url 'user-profile' booking.user.id %}"> {{booking.user.username}}</a>
                        </h5>
                        
                        <!-- BOOKINGS GRID -->
                        <div class="row justify-content-center">
                            <!-- THE BOOKINGS APPEARS HERE -->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    {% comment %} <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." /> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               
            </div>
            
            {% endfor %}

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }} ">Previous</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                </ul>
                
            </nav>
            
            
            

        </div>

        {% comment %} {% if request.user == booking.user %}
        <a href="{% url 'update-booking' booking.id %}">Edit booking</a>
        <a href="{% url 'delete-booking' booking.id %}"> Delete </a>
        {% endif %}

        <a href="{% url 'user-profile' booking.user.id %}">{{booking.user.username}}</a>
        <h5>{{booking.id}} -- <a href="{% url 'booking' booking.id %}"> {{booking.name}} </a></h5>
        <small>{{booking.circuit.name}} - {{booking.circuit.category}}</small>
        <hr> {% endcomment %}