{% extends 'main.html' %}

{% block content %}

<h1> Booking: {{booking.name}} </h1>  

<p> Race day: {{booking.raceDay}} </p>

<div class="comment-wrapper"> 
    <h3>Convo</h3>
    <hr>

    {% for message in booking_messages %}
    <div>
        <small>{{message.user}} {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
        <hr>
    </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Say something!"/>
    </form>
</div>
{% endif %}

{% endblock content  %}