<!DOCTYPE html>
<html>
    {% extends 'main.html' %}

    {% load static %}

    {% block content %}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/prueba.css' %}">
    <style>
    </style>

    
    <body>
        <div class="booking-container">
            
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for circuit in circuits %}
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src={{circuit.photo.url}} alt="imagen">
                        <div class="card-body">
                            <h5 class="card-title text-center text-uppercase mb-0">{{circuit.name}}</h5>
                            <p class="card-text text-center ">{{circuit.body}}</p>
                            <p class="card-text"><small class="text-muted">{{circuit.km}}km | {{circuit.category}}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
                
        </div>
    </body>

    {% include 'footer.html' %}
    
    {% endblock content  %}

</html>