{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;  
    }
</style>

<div class="home-container">

    <div>
        <h3>Browser</h3>
        <hr>

            <div>
                <a href="{% url 'home' %}">All</a>
            </div>

        {% for circuit in circuits %}
            <div>
                <a href="{% url 'home' %}?q={{circuit.name}}">{{circuit.name}}</a>
            </div>
        {% endfor %}

    </div>

    <div>
        <h5>{{booking_count}} bookings!</h5>
        <a href="{% url 'create-booking' %}">Create booking</a>

        <div>

            {% for booking in bookings %}

            <div>
               
                {% if request.user == booking.user %}
                <a href="{% url 'update-booking' booking.id %}">Edit booking</a>
                <a href="{% url 'delete-booking' booking.id %}"> Delete </a>
                {% endif %}

                <span>{{booking.user.username}}</span>
                <h5>{{booking.id}} -- <a href="{% url 'booking' booking.id %}"> {{booking.name}} </a></h5>
                <small>{{booking.circuit.name}} - {{booking.circuit.category}}</small>
                <hr>
            </div>

            {% endfor %}

        </div>

    </div>

    <div>
        <h3>Recent Activity</h3>
        <hr>
        {% for message in booking_messages %}
            <div>
                <small>{{message.user}} {{message.created|timesince}} </small>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content  %}
