<!DOCTYPE html>
<html>
    {% extends 'main.html'%}

    {% load static %}

    {% block content %}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/prueba.css' %}">


    {% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" placeholder="Username" />

            <label>Password:</label>
            <input type="password" name="password" placeholder="Pwd"/>

            <input type="submit" value="Login" />
        </form>

        <p>Havent signed up yet?</p>
        <a href={% url 'register' %}>Sign up</a>

    </div>

    {% else %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <!-- <label>Username:</label>
            <input type="text" name="username" placeholder="Username" />

            <label>Password:</label>
            <input type="password" name="password" placeholder="Pwd"/> -->

            <input type="submit" value="Register" />
        </form>

        <p>Already signed up?</p>
        <a href={% url 'login' %}>Login</a>

    </div>
    {% endif %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    {% endblock content %}
</html>
