<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    </head>

    <body>
        {% include 'navbar.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% comment %} <img src="{% static 'images/cars/kart1.jpeg' %}" /> {% endcomment %}

        
        {% block content %}
        
        {% endblock  %}
    </body>
</html>